.highlight {
    -fx-background-color: #00000026 ;
}
.welcomepane {
    -fx-background-radius: 10 10 0 0;
}
.buttons {
    -fx-background-radius: 10;
}
.root {
    -fx-background-radius: 20;
    -fx-background-color:  #301934;
    
}

.fill {
    -fx-background-color:  #301934;
}

.titlepane {
    -fx-background-color: #000026;
    -fx-background-radius: 20 20 0 0;
}


.expensevbox {
    -fx-background-color:   #301934;}

.root2 {
    -fx-background-radius: 0 0 20 20;
    -fx-background-color:  #301934;
}    

.clicked {
    -fx-background-color: b327f9 50%;
}
.hover {
    -fx-cursor: hand;
    -fx-transition: background-color 0.5s ease-in-out;
}
.hover:hover {
    -fx-background-color:b327f9 50%;
}

.paneclr {
    -fx-background-color: da90ff 20%;
}
.ulabel {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-family: Roboto;
}